:host {
  display: block;
  width: 100%;
}

.date-range-slider {
  width: 100%;
  box-sizing: border-box;
  padding-inline: 20px;
}

.date-range-slider kendo-rangeslider {
  display: block;
  width: 100%;
}
